# Python From Scratch-3

Take reference from youtube video below and learn Python along with me..

https://www.youtube.com/playlist?list=PLKnIA16_Rmvb1RYR-iTA_hzckhdONtSW4

# Operators
Used to perform operations on variables anf values. Python have following operators:

- Arithmetic
- Comparison
- Logical
- Bitwise
- Assignment
- Identity
- Membership

## Arithmetic operations
Used for mathematic functions

In [4]:
x= 3
y= 5
print(x+y)
print(x-y)

8
-2

In [8]:
print(x*y)
print(x/y)
print(x//y)   #rounding off to integer

15
0.6
0

In [9]:
print(x%y)   #modulus

3

In [10]:
print(x**y)  #To the power of

243

## Comparison operator
Compares between 2 values

In [11]:
print(x>y)

False

In [12]:
print(x<y)

True

In [13]:
print(x>=y)

False

In [14]:
print(x==y)

False

In [15]:
print(x!=y)

True

# Logical operators
Very useful in logic building

In [16]:
x = True
y = False

In [18]:
print(x or y) #give true even if one value is true

True

In [19]:
print(x and y) #both should be true

False

In [20]:
print(not x)
print(not y)

False
True

# Bitwise
Used with binary numbers

In [21]:
x = 3
y = 2

In [24]:
print(x & y)

2

#2 as answer because numbers will first get converted into binary and then and operation will be applied

In [26]:
print(x|y)

3

#3 as answer because numbers will first get converted into binary and then or operation will be applied

In [28]:
print(x >> 2) #right shift
print(y<< 3)  #left shift
print(-x)  #One's complement

0
16
-3

# Assignment operator
Used to assign values

In [56]:
a = 3  # here = is assignment operator(most commonly used)
print(a)

3

In [57]:
a+=4
#a = a+4
print(a)

7

In [58]:
a-=3
print(a)

4

In [59]:
a*=7
print(a)

28

In [60]:
a/=56
print(a)

0.5

#Note- sytax like
++a
or a++
is not there in python

## Identity operator
If two values are at same memory location

"is" keyword is used

In [66]:
a=3
b=3
print(a is b)

True

In [85]:
a=3
b=3
print(a is not b)

False

In [67]:
c = 'hello'
d = 'hello'
print(c is d)

True

In [68]:
#but same data doesn't everytime means same location,like,

In [69]:
a= [1,2,3]
b= [1,2,3]
print(a is b)

False

In [70]:
a = 'hi-abhi'
b = 'hi-abhi'
print(a is b)

False

## Membership operator
Tells if one thing is inside another or not

Very useful and unique python operator

In [78]:
a = 'Delhi'
print("D"in a)

True

In [80]:
a = 'Delhi'
print("D" not in a)

False

In [79]:
a = 'Delhi'
print("D" and "a" in a)

False

In [82]:
x = [1,2,3]
print(4 in x)

False

In [83]:
x = [1,2,3]
print(4 not in x)

True

In [84]:
x = [1,2,3]
print(2 in x)

True

In [63]:
#Keywords
#Words reserved by a program as it have a special meaning.
#note - Python is a case sensitive language

In [64]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [65]:
#we can't use keywords as variables

In [66]:
#Identifiers
#Name used to identify a variable,function,class,module or other obj.

In [1]:
name= "abhi"  #here name is identifier

In [2]:
input()

hi

'hi'

In [3]:
input("Enter name ")

Enter name Abhishek

'Abhishek'

In [9]:
a= input("Enter first number")
b= input("Enter second number")
c= a+b
print('Result is = ',c)

Enter first number4
Enter second number7
Result is =  47

#so as it is coming in string format it is performing concatnation

In [13]:
#type
type(c)

str

In [14]:
#To overcome this we do TYPECONVERSION

In [17]:
#implicit type conversion = Done by python
#explicit type conversion

In [20]:
#implicit
4+5.5

9.5

In [21]:
4+3+7j

(7+7j)

In [5]:
#explicit
int('4')     #telling python what is the datatype

4

In [25]:
tuple('3,4,5,6,7')

('3', ',', '4', ',', '5', ',', '6', ',', '7')

In [28]:
a=5.56

In [29]:
int(a)

5

In [30]:
a

5.56

In [31]:
#So typeconversion doesn't make changes in original value

In [34]:
a= input("Enter first number")
b= input("Enter second number")
c= int(a)+int(b)
print('Result is = ',c)

Enter first number3
Enter second number7
Result is =  10

In [35]:
#or better way is,
a= int(input("Enter first number"))
b= int(input("Enter second number"))
c= a+b
print('Result is = ',c)

Enter first number45
Enter second number22
Result is =  67

In [24]:
a = int(input('Enter age = '))
b = int(input('enter age2 = '))
print(a+b)

Enter age = 32
enter age2 = 44
76

#Literals

Raw data given in a variable is called literals.They are of four types,
Numeric,String,Boolean and Special

1. Numeric literals

In [5]:
a= 0b1010 #binary literals (0b=binary)
b= 100 #decimal literals (normally used)
c= 0o320 #Octal literals (0o = octal)
d= 0x12c #hexadecimal literals (0x=hexa)

#float literals
flt_1 = 10.5
flt_2 = 1.5e2 #e is "10 to the power"
flt_3 = 1.5e-3 #e is "10 to the power"

#complex literals
x = 3.14j

print(a,b,c,d)
print(flt_1,flt_2,flt_3)
print(x)

10 100 208 300
10.5 150.0 0.0015
3.14j

2. String Literals

In [6]:
string = 'This is jupyter'
string2 = "This is jupyter"
multiline_str = """This is multiline string with more than one line code"""
unicode = u"\U0001F600\U0001F606"  #u in starting for unicode used in emojis,etc.
raw_str = r"raw \n string"  #r in starting for raw string where we can enter string containing special characters without any error

print(string)
print(string2)
print(multiline_str)
print(unicode)
print(raw_str)

This is jupyter
This is jupyter
This is multiline string with more than one line code
ðŸ˜€ðŸ˜†
raw \n string

3. Boolean literal

In [13]:
a = True+5
b = False+6
print("a= ", a)
print("b= ", b)

a=  6
b=  6

#a is also 6 as python consider True=1 and False=0

4. Special literal

In [1]:
a= None    #None is special character in python
print(a)

None

#Used to give "none" value to variables so that we can be used later
(kind of variable declaration)